/*Southside Dental stylesheets*/

/*Reset all*/

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

table{border-collapse:collapse;border-spacing:0;font-size:inherit;}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}
a *{cursor:pointer;}

:focus {outline: none;}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
	border: none;
}

img, embed, object, video {border: 0; max-width: 100%; vertical-align: top;}

caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset {
   font-family: 'Trebuchet MS', Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

textarea {
	font-size: 1em;
	padding: 1%;
	overflow: hidden; 
	resize: vertical;
	min-height: 105px;
}

pre,
code {
  font-size: 1.1em;
  font-family: "Courier New", "DejaVu Sans Mono", monospace;
}

h1 {
	color: #1472a3;
	font: 30px/32px 'BertholdAkzidenzGroteskCn', Arial, sans-serif;
	text-transform: capitalize;
	margin: 1em 0;
	font-weight: normal;
}

h2 {
	color: #1472a3;
	font: 26px/28px 'BertholdAkzidenzGroteskCn', Arial, sans-serif;
	text-transform: capitalize;
	margin: 1em 0;
	font-weight: normal;
}

h3,h4,h5,h6 {
	color: #1472a3;
	font: 20px/22px 'BertholdAkzidenzGroteskCn', Arial, sans-serif;
	text-transform: capitalize;
	margin: 1em 0;
	font-weight: normal;
}

p ,
ul,
ol,
dl,
pre,
table,
fieldset {
  margin: 1.8em 0;
}

blockquote {
  margin: 1em 2em;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

ins {
    background-color:#227099;
    color:#fff;
    text-decoration:none;
}

mark {
    background-color:#227099;
    color:#fff; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

ul,
ol {
  padding-left: 2em;
}


li {
  margin: 0;
  padding: 0;
}

ul          { list-style-type: square; }
ul ul       { list-style-type: circle; }
ul ul ul    { list-style-type: disc; }
ul ul ul ul { list-style-type: circle; }
ol          { list-style-type: decimal; }
ol ol       { list-style-type: lower-alpha; }
ol ol ol    { list-style-type: decimal; }

dt {
  margin: 0;
  padding: 0;
}

dd {
  margin: 0 0 0 2em;
  padding: 0;
}

a{
	color: #1472a3;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

th,
thead th,
tbody th {
  text-align: left;
  padding: 0;
}


tbody td {
	padding: 5px;
	font: 1em/1.2em 'Trebuchet MS';
}

abbr {
  border-bottom: 1px dotted #60ae01;
  cursor: help;
  white-space: nowrap;
}

hr {
  height: 1px;
  border: 1px solid #60ae01;
  margin: 1em 0;
}

form {
  margin: 0;
  padding: 0;
}

fieldset {
  margin: 1em 0;
  padding: 0.5em;
  border: 1px solid #60ae01;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
	display: block;
}

ul.submenu {
	margin: 0;
	padding: 0;
}

ul.submenu li {
	margin-bottom: 5px;
	list-style: none;
	position: relative;
	padding-left: 15px;
	margin-bottom: 10px;
}

ul.submenu li:before {
	border-color: transparent transparent transparent #555;
    border-style: solid;
    border-width: 5px;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    left: 0;
    top: 4px;
    width: 0;
}

ul.submenu li a {
	color: #555;
	text-decoration: none;
}

ul.submenu li a:hover {
	text-decoration: underline;
}

/*Clear*/

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

/*Custom style*/

@font-face {
    font-family: 'BertholdAkzidenzGroteskCn';
    src: url('../fonts/font-webfont.eot');
    src: url('../fonts/font-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font-webfont.woff') format('woff'),
         url('../fonts/font-webfont.ttf') format('truetype'),
         url('../fonts/font-webfont.svg#BertholdAkzidenzGroteskCn') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	min-height: 100%;
	width: 100%;
	background-color: #60ae01;
	font: 16px/1.2 'Trebuchet MS', Arial, Helvetica, "Nimbus Sans L", sans-serif;
	color: #666;	
}

#wrapper {
	font: 100%/1.2 'Trebuchet MS', Arial, Helvetica, "Nimbus Sans L", sans-serif;
	background: url(../images/wrapper_bg.png) repeat-x scroll 0 0 transparent;
	background-color: #60ae01;
	padding: 25px 20px;
}

#main {
	font: 0.8em/1.25 'Trebuchet MS';
	min-width: 960px;
	/*max-width: 1024px;*/
	margin: 0 auto;
	position: relative;
}

header {
	background-color: #fff;
	margin-bottom: 4px;
	padding: 20px 25px 20px 30px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
	-khtml-border-radius: 8px;
}

#container {
	background-color: #fff;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
	-khtml-border-radius: 8px;
	position: relative;
	z-index: 2;
}

section.content {
	font-size: 1.1em;
}

span.before,
span.after {
	z-index: 1;
	position: absolute;
	bottom: 15px;
	width: 50%;
	max-width:300px;
	background: rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 16px 11px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 16px 11px rgba(0, 0, 0, 0.6);
	-o-box-shadow: 0 16px 11px rgba(0, 0, 0, 0.6);
	box-shadow: 0 16px 11px rgba(0, 0, 0, 0.6);
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
	-khtml-border-radius: 8px;
}

span.before {
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
	left: 8px;
}

span.after {
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);
	right: 8px;
}

a.green_btn {
	text-decoration: none;
	display: inline-block;
	background-color: #63b422;
	color: #fff;
	font-size: 12px;
	line-height: 15px;
	padding: 6px 8px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-khtml-border-radius: 4px;
	text-transform: capitalize;
}

a.green_btn:hover {
	text-decoration: none;
	background-color: #60ae01;
}

.form-text {
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-khtml-border-radius: 4px;
	color: #ccc;
	font-size: 12px;
	line-height: 15px;
	padding: 6px 8px 6px 14px;	
	-webkit-box-shadow: 0 0 transparent;
	-moz-box-shadow: 0 0 transparent;
	-o-box-shadow: 0 0 transparent;
	box-shadow: 0 0 transparent;
	width: 93%;
	margin-bottom: 4px;
}

.form-text:focus {
	border: 1px solid #9f9f9f;	
}

.form-submit {
	text-decoration: none;
	display: inline-block;
	background-color: #666666;
	color: #fff;
	font-size: 12px;
	line-height: 15px;
	padding: 8px 17px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-khtml-border-radius: 4px;
	text-transform: uppercase;
	border: 0 none;
	cursor: pointer;
}

.form-submit:hover {
	background-color: #888;
}

h1#logo {
	margin: 0;
	float: left;
}

article#card {
	font: 35px/37px 'BertholdAkzidenzGroteskCn', 'Trebuchet MS', Arial, sans-serif;
	color: #999;
	font-weight: normal;
	text-transform: capitalize;
}

article#card span.title {
	color: #999;
}

article#card span {
	color: #60ae01;
}

#container {
	padding: 56px 50px 50px;
}

nav#mainmenu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-image: none;
}

nav#mainmenu ul li {
	list-style: none;
	list-style-image: none;
	float: left;
	color: #1472a3;
	font: 30px/32px 'BertholdAkzidenzGroteskCn', 'Trebuchet MS', Arial, sans-serif;
}

nav#mainmenu ul li a,
nav#mainmenu ul li a:hover {
	color: #1472a3;
	text-decoration: none;
}

nav#mainmenu.full ul li {
	width: 92% !important;
}

nav#mainmenu ul li.m_location {
	width: 20.67099567099567%;
	padding: 0 7.9004329004329% 0 0;
}

nav#mainmenu ul li.m_about {
	width: 29.22077922077922%;
	padding: 0 6.060606060606061% 0 0;
}

nav#mainmenu ul li.m_booking {
	width: 34.09090909090909%;
	padding: 0 0 0 0;
}

.location, .about, .booking {
	float: left;
}

.location {
	width: 20.67099567099567%;
	padding: 26px 7.9004329004329% 0 0;
}

.location .inner,
.location_video {
	border: 1px solid #D9D9D9;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 6px;
	-o-border-radius: 8px;
	-khtml-border-radius: 8px;
	overflow: hidden;
	-webkit-mask-box-image: url(../images/mask_big.png);
}

.location_video {
	float: left;
}

.location_video iframe {
	vertical-align: top;
}

#map_canvas .gmnoprint {
	display: none;
}

.about {
	width: 29.22077922077922%;
	padding: 26px 6.060606060606061% 0 0;
}

.about.about_us {
	width: 100%;
	padding: 26px 0 0 0;
}

.booking {
	width: 34.09090909090909%;
	padding: 26px 0 0 0;
}

section.content p:first-child {
	margin-top: 0;
}

section.content p {
	line-height: 1.5;
}

.about a.green_btn {
	position: relative;
	top: -8px;
}

#form_booking .form-submit {
	float: right;
	margin: 3px -1px 0 0;
}

#output {
	color: #63B422;
    font-weight: bold;
    margin-top: 15px;
}


/*Examples*/

.column .sidebar_left {
	float: left;
	width: 20%;
	height: 400px;
	background-color: #1472A3;
}

.column .sidebar_right {
	float: right;
	width: 20%;
	height: 400px;
	background-color: #60AE01;
}

.column .center_column {
	margin: 0 20%;
	height: 400px;
	background-color: #999999;
}

.column  .inner_wrap {
	display: table;
    width: 100%;
}

.column .inner {
	padding: 15px;
	color: #fff;
}

.column .sidebar_left_two {
    float: left;
    margin-left: 0;
    margin-right: -20%;
    width: 20%;
	height: 400px;
	background-color: #1472A3;
}

.column .center_column_two {
    margin-left: 20%; /*Или 0, если нет левой колонки*/
    margin-right: -80%; /*Или 100%, если нет правой колонки*/
    width: 60%;
	float: left;
	height: 400px;
	background-color: #999999;
}

.column .sidebar_right_two {
    float: left;
    margin-left: 80%;
    margin-right: -100%;
    width: 20%;
	height: 400px;
	background-color: #60AE01;
}

.equal_height_columns .wrapper_column {
	overflow: hidden;
}

.equal_height_columns .sidebar_right,
.equal_height_columns .center_column,
.equal_height_columns .sidebar_left {
	padding-bottom: 32000px;
	margin-bottom: -32000px;
	height: auto;
}

.equal_height_columns .center_column {
	height: 400px;
}

.equal_height_columns .col-wrap1 {
	width: 20%;
	background-color: #60AE01;
}

.equal_height_columns .col-wrap2 {
	width:400%;
	margin-right: -100%; /* чтобы IE6 не раздвигал контейнер */
	position:relative;
	left: 100%;
	background-color: #1472A3;
}

.equal_height_columns .col1 {
	float: left;
	color: #fff;
	width: 25%; /*20% первой колонки от 100% = 25% от новой ширины в 80%*/
	margin-right: -100%;
	position: relative;
	left: -25%;
}

.equal_height_columns .col2 {
	float: left;
	color: #fff;	
}


/*Footer*/

html.footer, html.footer body {
	height: 100%;
}

html.footer #wrapper {
	min-height: 100%;
	position: relative;
	padding: 0;
}

html.footer #footer {
	height: 100px;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #1472A3;
	color: #fff;
}

html.footer #content_footer {
	padding-bottom: 100px;
	color: #fff;
}

html.footer .inner {
	padding: 15px;
}

/*Overlay*/

#overlay {
    left: 0;
    min-height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

#overlay .bg {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 101;
	background-color: #000;
	opacity: 0.8;
	filter: alpha(opacity=90);
	/*filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90); ИЕ5.5+*/
	zoom: 1;
}

#overlay .content {
	position: absolute;
	top: 50%;
	width: 100%;
	height: 200px;
	margin-top: -100px;
	text-align: center;
	z-index: 102;
}

#overlay .content .inner {
	text-align: left;
	display: inline-block;
	border: 1px solid 105a81;
	background-color: #fff;
	min-height: 100%;
	max-width: 50%;
}

#overlay .inner_two {
	padding: 15px;	
}

.button_false, .btn_false {
	font: bold 12px/31px Arial;
	color: #fff;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	-khtml-border-radius: 4px;
	-o-border-radius: 4px;
	padding: 10px 17px;
	-webkit-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.6), 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.6), 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
	-o-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.6), 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
	-khtml-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.6), 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.6), 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	display: inline-block;
	border: 1px solid #bd2304;
	background-color: #dc3925;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ec6741), to(#dc3925));
	background-image: -webkit-linear-gradient(top, #ec6741, #dc3925);
	background-image:    -moz-linear-gradient(top, #ec6741, #dc3925);
	background-image:     -ms-linear-gradient(top, #ec6741, #dc3925);
	background-image:      -o-linear-gradient(top, #ec6741, #dc3925);
	background-image:         linear-gradient(top, #ec6741, #dc3925);
	text-decoration: none;
}

.button_false:hover, .btn_false:hover {
	background-color: #ec6741;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#dc3925), to(#ec6741));
	background-image: -webkit-linear-gradient(top, #dc3925, #ec6741);
	background-image:    -moz-linear-gradient(top, #dc3925, #ec6741);
	background-image:     -ms-linear-gradient(top, #dc3925, #ec6741);
	background-image:      -o-linear-gradient(top, #dc3925, #ec6741);
	background-image:         linear-gradient(top, #dc3925, #ec6741);
}

.button_true, .btn_true {
	font: bold 12px/15px Arial;
	color: #fff;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	-khtml-border-radius: 4px;
	-o-border-radius: 4px;
	padding: 18px 17px;
	-webkit-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.6), 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.6), 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
	-o-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.6), 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
	-khtml-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.6), 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.6), 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	display: inline-block;
	border: 1px solid #005fbb;
	background-color: #1e75d5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#35b2e7), to(#1e75d5));
	background-image: -webkit-linear-gradient(top, #35b2e7, #1e75d5);
	background-image:    -moz-linear-gradient(top, #35b2e7, #1e75d5);
	background-image:     -ms-linear-gradient(top, #35b2e7, #1e75d5);
	background-image:      -o-linear-gradient(top, #35b2e7, #1e75d5);
	background-image:         linear-gradient(top, #35b2e7, #1e75d5);
	text-decoration: none;
	vertical-align: top;
}

.button_true:hover, .btn_true:hover {
	background-color: #35b2e7;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#1e75d5), to(#35b2e7));
	background-image: -webkit-linear-gradient(top, #1e75d5, #35b2e7);
	background-image:    -moz-linear-gradient(top, #1e75d5, #35b2e7);
	background-image:     -ms-linear-gradient(top, #1e75d5, #35b2e7);
	background-image:      -o-linear-gradient(top, #1e75d5, #35b2e7);
	background-image:         linear-gradient(top, #1e75d5, #35b2e7);
}
.validationError {
    background-color: #CD6565;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.7) inset, 1px 1px 2px 0 rgba(0, 0, 0, 0.4), -1px 0 0 0 rgba(255, 255, 255, 0.7);
    color: #FFFFFF;
    line-height: 18px;
    padding: 8px 18px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
    width: 317px;
    z-index: 5;
	display: inline-block;
}	

/*Select*/

#how_help {
	background-color: transparent;
    border: 0 none;
    color: #37414B;
    font: 1em/1.1 'MyriadProSemibold',Arial;
    padding: 9px 12px 8px;
    width: 100%;
	border: 1px solid #A0A0A0;
	-webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
	-o-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
	border: 1px solid #a0a0a0;
	width: 300px;
}

span.sel {
	-webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
	-o-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
	-khtml-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
	display: block;	
	border: 1px solid #a0a0a0;
	width: 300px;	
}

#how_help_you {
	color: #37414b;
    font: 1em/1.1 'MyriadProSemibold',Arial;
	border: 0 none;
	background-color: transparent;
	height: 34px;
	padding: 9px 12px 8px;
	width: 100%;
}

#how_help_fix {
	background-color: transparent;
    border: 0 none;
    color: #37414B;
    font: 1em/1.1 'MyriadProSemibold',Arial;
    padding: 9px 12px 8px;
    width: 100%;
	border: 1px solid #A0A0A0;
	-webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
	-o-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
	border: 1px solid #a0a0a0;
	width: 300px;
}

#how_help_fix.webkit {
	background: url(../images/select_webkit.png) no-repeat scroll 100% 50% transparent;
	-webkit-appearance: textfield;
}

#gallery .one {
	display: inline-block;
	vertical-align: top;
	margin: 0 40px 40px 0;
	width: 20%;
	min-width: 160px;
}

#news .one {
	border-top: 1px dotted #999;
	margin: 20px 0 0;
	padding: 20px 0 0;
}

#news .one:first-child {
	border-top: 0 none;
	margin: 0;
	padding: 0;		
}

#news img {
	float: left;
	margin: 0 10px 8px 0;
}

#news .news_wrapper {
	overflow: hidden;
}

#news .last img + .news_wrapper {
	overflow: visible;
	margin-left: 107px;
}